::-webkit-scrollbar {
    width: 12px;
    height: 0px;
    max-height: 4px;
}

::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 160px;
}

::-webkit-scrollbar-track {
    background: var(--gitic-basecolor);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




:root {
    --gitic-gainsboro: #d9d9d9;
    --gitic-background01: #181A20;
    --gitic-background02: #1E2329;
    --gitic-background03: #F5F5F5;
    --gitic-blackcolor: #000000;
    --gitic-whitecolor: #ffffff;
    --gitic-whiteghost: #e6e6e6;
    --gitic-basecolor: #a6a6a6;
    --gitic-maincolor: #21252b;
    --gitic-textcolor: #00478C;
    --gitic-buttoncolor: #00478C;
    --gitic-lemonless: #8aa78d;
    --gitic-viocolor: #c71585;
    --gitic-purple: #A87FFB;
    --gitic-green: #17B877;
    --gitic-blue: #25A6E9;
    --gitic-yellow: #FFC26E;
    --gitic-boxshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    --gitic-fonthead: Montserrat, sans-serif;
    --gitic-fontbody: sans-serif;
}




/* Reset default browser styles */
body, h1, h2, p, ul, li, nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: var(--gitic-background01);
    color: var(--gitic-basecolor);
    margin: 0;
        padding: 0;
        text-rendering: optimizeLegibility;
        width: 100%;
        height: 100hv;
}






/* Nav */
.banner-cover {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.alert {
    background: var(--gitic-viocolor);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--gitic-whitecolor);
    /* Use your preferred color */
    width: 100%;
    padding: 10px;
    text-align: center;
    position: relative;
}

.closebtn {
    margin-left: 15px;
    color: var(--gitic-whitecolor);
    /* Use your preferred color */
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: var(--whiteColor);
    /* Use your preferred color */
}

.alert a {
    color: inherit;
    text-decoration: none;
}


.img {
    display: inline-block;
    height: 50px;
    z-index: 1;
}

.nav {
    /* From https://css.glass */
        background: var(--gitic-background01);
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    padding: 25px 8px 25px 8px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 19px;
}

.nav>.nav-links>a {
    color: var(--gitic-whitecolor);
    display: inline-block;
    padding: 22px 10px 22px 10px;
    text-decoration: none;
}

.nav>.nav-links>a:hover,
a:focus {
    transform: translateY(-.2rem);
    color: var(--bs-decoration-color);
    text-decoration: none;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 27px 10px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: inherit;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label,
    label:focus {
        transform: translateY(-.2rem);
        text-decoration: none;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 8px;
        border-top: 2px solid var(--gitic-whitecolor);
    }

    .nav>.nav-links {
        background: var(--gitic-background01);
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}






.hero {
    text-align: center;
    padding: 100px 0;
    margin-top: 120px;
}

.hero h1 {
    color: var(--gitic-whitecolor);
    font-size: 100px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 30px;
    margin-bottom: 30px;
}

.btn {
    font-size: 22px;
    display: inline-block;
    width: 15%;
    padding: 13px 0px;
    background-color: var(--gitic-viocolor);
    color: var(--gitic-blackcolor);
    border: 3px solid var(--gitic-viocolor);
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover {
   transform: translateY(-.2rem);
      text-decoration: none;
}




@media (max-width: 768px) {
    .hero {
            text-align: center;
            max-width: 600px;
            padding: 50px 20px;
        }
    
        .hero h1 {
            color: var(--gitic-whitecolor);
            font-size: 35px;
            margin-bottom: 10px;
        }
    
        .hero p {
            font-size: 19px;
           
        }
    
        .btn {
            font-size: 19px;
            display: inline-block;
            width: 100%;
            padding: 11px;
            border-radius: 8px;
            margin: 5px 0px;
        }
}










.box {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid var(--gitic-viocolor);
  border-right: 2px solid var(--gitic-whitecolor);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {

  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (max-width: 768px) {
  .box {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}














/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
  margin: 10px 0px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
    padding: 0px 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
    background-color: #cccccc;
    box-shadow: var(--gitic-boxshadow);
  padding: 16px;
  text-align: left;
  border: 3px solid var(--gitic-basecolor);
}

.card div {
color: var(--gitic-indianred);
  font-size: 28px;
}

.card p {
    color: var(--gitic-cardcolor);
font-size: 21px;
margin-top: 5px;
}

.card .icon-cover {
    width: 48px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card .icon-cover svg {
    width: 35px;
    height: 35px;
    margin: 3px;
} 


@media (max-width: 768px) {
    /* Style the counter cards */
        .card {
            padding: 13px;
        }
    
        .card div {
            font-size: 25px;
        }
    
        .card p {
            font-size: 17px;
            margin-top: 2px;
        }
    
        .card .icon-cover {
            width: 43px;
            height: 43px;
        }
    
        .card .icon-cover svg {
            width: 30px;
            height: 30px;
            margin: 3px;
        }
}












.flex-container1 {
    background-color: #cccccc;
    box-shadow: var(--box-shadow);
    border-top: 3px solid var(--gitic-basecolor);
    border-bottom: 3px solid var(--gitic-basecolor);
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding: 50px 30px;
    text-align: center;
    margin-top: 150px;
}

.flex-item-left1 {
    padding: 20px 0px;
    margin: 10px;
    border-radius: 16px;
    flex: 50%;
}

.flex-item-left1 img {
    width: 70%;
    height: 350px;
}

.flex-item-right1 {
    padding: 10px;
    margin: 20px 0px;
    flex: 50%;
    text-align: left;
}

.flex-item-right1 h1 {
    color: var(--gitic-cardcolor);
    font-size: 100px;
}

.flex-item-right1 p {
    color: var(--gitic-cardcolor);
    font-size: 21px;
}

.flex-item-right1 a {
    background-color: var(--gitic-indianred);
    border: 3px solid var(--gitic-indianred);
    box-shadow: var(--box-shadow);
    color: var(--gitic-whitecolor);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 100;
    display: inline-block;
    text-decoration: none;
    padding: 12px 30px;
    text-align: center;
    margin-top: 15px;
    transition: background-color 0.3s;
}


.flex-item-right1 a:hover {
    transform: translateY(-.2rem);
    text-decoration: none;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 768px) {
    .flex-container1 {
        flex-direction: column;
        margin-top: -5px;
    }

    .flex-item-left1 {
        padding: 20px 0px;
    }

        .flex-item-left1 img {
            width: 80%;
            height: 250px;
        }

    .flex-item-right1 {
        text-align: center;
    }

    .flex-item-right1 h1 {
        font-size: 30px;
    }

    .flex-item-right1 p {
        font-size: 17px;
    }

    .flex-item-right1 a {
        font-size: 17px;
        width: 100%;
        padding: 8px 0px;
    }
}
















/* -------------------------------- 

File#: _1_stacking-cards
Title: Stacking Cards
Descr: Cards stack effect on vertical scrolling
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --sg0-color-primary-hsl: 250, 84%, 54%;
  --sg0-color-bg-hsl: 0, 0%, 100%;
  --sg0-color-contrast-high-hsl: 230, 7%, 23%;
  --sg0-color-contrast-higher-hsl: 230, 13%, 9%;
  --sg0-color-bg-light-hsl: 0, 0%, 100%;

  /* spacing */
  --sg0-space-sm: 0.75rem;
  --sg0-space-md: 1.25rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --sg0-space-sm: 1.125rem;
    --sg0-space-md: 2rem;
  }
}

/* component */
.stack-cards {
  --stack-cards-gap: var(--sg0-space-sm);
  --stack-cards-item-ratio: 2/1;
}

.stack-cards__item {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: var(--sg0-space-md);
  height: 0;
  padding-bottom: calc(100%/(var(--stack-cards-item-ratio)));
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.stack-cards__item > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* utility classes */
.sg0-overflow-hidden {
  overflow: hidden;
}

.sg0-shadow-md {
  box-shadow: var(--gitic-background01);
}

.sg0-radius-lg {
  border-radius: 0;
}

.sg0-bg {
  --sg0-bg-o: 1;
  background-color: var(--gitic-background02);
}

.sg0-flex-center {
  justify-content: center;
  align-items: center;
}

.sg0-flex-center h1 {
    color: var(--gitic-whitecolor);
    font-size: 100px;
    justify-content: center;
    align-items: center;
}

.sg0-flex-center p {
    text-align: center;
    align-items: center;
    padding: 0px 150px;
}

.sg0-flex-center a {
    background: var(--gitic-whitecolor);
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    color: var(--gitic-maincolor);
    font-size: 22px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 30px;
    text-align: center;
    margin-top: 15px;
    gap: 5px;
    transition: background-color 0.3s;
}

.sg0-flex-center a:hover,
a:focus {
    transform: translateY(-.2rem);
    text-decoration: none;
}

@media (max-width: 768px) {
    .sg0-flex-center h1 {
            color: var(--gitic-whitecolor);
            font-size: 35px;
            justify-content: center;
            align-items: center;
        }
    
        .sg0-flex-center p {
            font-size: 19px;
            text-align: center;
            align-items: center;
            padding: 0px 20px;
        }
    
        .sg0-flex-center a {
            background: var(--gitic-whitecolor);
            box-shadow: var(--box-shadow);
            border-radius: 8px;
            color: var(--gitic-maincolor);
            font-size: 19px;
            font-weight: 400;
            display: inline-block;
            text-decoration: none;
            border-radius: 8px;
            padding: 11px;
            width: 90%;
            text-align: center;
            margin-top: 15px;
            gap: 5px;
            transition: background-color 0.3s;
        }
    
        .sg0-flex-center a:hover,
        a:focus {
            transform: translateY(-.2rem);
            text-decoration: none;
        }
}

.sg0-flex {
  display: flex;
}

:where(.sg0-inner-glow) {
  position: relative;
}

.sg0-inner-glow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset ;
}

.sg0-bg-light {
  --sg0-bg-o: 1;
  background-color: var(--gitic-background02);
}














#voting-info {
    margin-top: 100px;
    padding: 0px 30px;
}

#voting-info h2 {
    color: var(--gitic-whitecolor);
    padding: 20px 0px;
}

.voting-option {
    border: 3px solid var(--gitic-basecolor);
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 10px;
}

.voting-option h3 {
    color: var(--gitic-whitecolor);
}

.voting-option p {
    margin-bottom: 10px;
}

.voting-option h4 {
    color: var(--gitic-whitecolor)
    margin-top: 10px;
    margin-bottom: 5px;
}

.voting-option ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

.voting-option li {
    margin-bottom: 5px;
}













/* LEARN */
.learn {
    width: 100%;
    padding-top: 200px;
    margin-top: 0px;
}

.learn .content {
    max-width: 900px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: left;
}

.learn .content h1 {
    color: var(--gitic-whitecolor);
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    line-height: 1;
}

.learn .content h2 {
    color: var(--gitic-basecolor);
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
}

.learn .content p {
    font-size: 21px;
    text-align: center;
    padding: 10px 0px;
}

.learn .content a {
    /* From https://css.glass */
    background: var(--gitic-maincolor);
    box-shadow: var(--gitic-boxshadow);
    border: 1px solid rgba(240, 255, 240, 0.48);
    color: var(--gitic-whitecolor);
    font-size: 21px;
    font-weight: 100;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 30px;
    float: center;
    text-align: center;
    margin-top: 15px;
    gap: 5px;
    transition: background-color 0.3s;
}

.learn a:hover,
a:focus {
    background-color: var(--gitic-hoverbutton);
    transform: translateY(-.2rem);
    text-decoration: none;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .learn .content {
        padding: 20px 0;
        margin-top: -0px;
    }

    .learn .content h1 {
        font-size: 35px;
        max-width: 700px;
        margin-bottom: 10px;
    }

    .learn .content h2 {
        font-size: 25px;

    }

    .learn .content p {
        font-size: 20px;
        max-width: 700px;
        margin-bottom: 10px;
    }

    .learn .content {
        padding: 30px;
    }

    .learn .content a {
        font-size: 20px;
        width: 100%;
        padding: 11px;
        margin: 0.3rem auto;
    }
}














footer {
    background-color: var(--gitic-blackcolor);
    color: var(--gitic-whitecolor);
    padding: 130px;
    text-align: center;
    margin-top: 150px;
}

footer .copyright {
    margin-top: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.social-icons a>svg {
    fill: var(--gitic-viocolor);
    width: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .social-icons a {
        font-size: 16px;
    }
}
